body {
    background-color: cadetblue;
    height: fit-content;
}

h1 {
    text-align: center;
    color: yellow;
    font-size: 300%;
    font-family: cursive;
}

img {
    display: block;
    margin: auto;
    height: 30%;
    width: 30%;
}

button {
    display: block;
    margin: auto;
    padding: 1% 2%;
    font-size: 200%;
    background-color: burlywood;
    border-radius: 15%;
}

button:hover {
    color: royalblue;
}